*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

header {
    display: inline;
    width: 100%;
    padding: auto;
}

.container {
    max-width:  1280px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    background-color:rgba(12, 11, 11, 0.808);
}

header nav li {
    display:  inline;
    margin-left: 16px;
}

header nav li a,
.container h2{
    text-decoration: none;
    color: rgb(250, 2, 2);
    font-family: 'Kablammo', cursive;
    font-size: xx-large;
    align-items: center;
}

h2 {
    text-align: center;
    padding: 16px 16px;
}

#about .container{
    display: flex;
    align-items:center;
    justify-content: start;
    font-weight: bold;
    background-color:rgba(12, 11, 11, 0.904);
}


#about .container p,
.article article p,
#register .container,
#footer{
    color: white;
    font-size: 24px;  
    font-family: 'Bebas Neue', sans-serif;  
    padding: 8% 0;
}

.image img{
    width: 24px;
}

#news .container,
#register .container,
#footer {
    background-color:rgba(12, 11, 11, 0.904);
    padding: 8% 8%;
}


.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img {
    /*height: 180px; */
    width: 90%;
    height: 40%;
}

.article article {
    width: 30%;
}

.article article a {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: xx-large;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}



section .container input,
label
{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

section .container input,
label{
    color: red;
}

#register .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section .container button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px 8px;
}

.social-links img{
    height: 38px;
    padding: 2px 14px;
}

.social-links li{
    display: inline;
}

.social-links a{
    color: white;
}

#footer{
    max-width:  1280px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(12, 11, 11, 0.808);
    padding: 2px 2px;
    text-align:center;
}

button{
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    font-family: 'Kablammo', cursive;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid red;
    padding: 14px 60px;
    cursor: pointer;
}

button:hover{
    background: red;
    font-size: 14px;
    margin: 30px 0;
    transition: 500ms linear; 
}

